.btn {
   font-family: $font-primary;
   font-size: $font-size;
   padding: ( $font-size - .25rem ) ( $font-size + .9rem);
   border: none;
   border-radius: 1rem;
   cursor: pointer;
   font-weight: 700;
   line-height: 1;
   outline: none;
   // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
   text-transform: uppercase;
   width: 100%;
   @include mq-min(md) {
      // width: auto;
   }
   &.btn-primary {
      @include button( color( grayscale, gray-3 ), color( grayscale, base ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-3) );
         border: .13rem solid color( grayscale, gray-3 );
         &:hover, &:active {
            @include button( color( grayscale, gray-3 ) );
         }
      }
   }
   &.btn-secondary {
      @include button( color( grayscale, white ), color( grayscale, base ) );
      
      &.outline {
         @include button( transparent, color( grayscale, base ) );
         border: .15rem solid color( grayscale, base );
         &:hover, &:active {
            @include button( color( grayscale, white ), color( grayscale, white ));
         }
      }
   }
   // sizes
   &.small {
      padding:    ( $font-size - .50rem ) ( $font-size );
      font-size:  ( $font-size - .25rem );
   }
   &.medium{
      font-size: map-get($sizes, small);
      padding: 11px 38px;
   }
}

@include  mq-min(md){
}
